*{
    list-style: none;
}

h1{
    background-color:aqua;
    color: rgb(150, 7, 7);
    font-size: 3em;
    font-family: monospace;
}
.lista{
    background:  powderblue;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}


div p{
    background: rebeccapurple;
    color: yellowgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.subtitlu{
    background: mediumaquamarine;
    color: darkblue;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 35%;
}
.jos{
    background: blueviolet;
    color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li:hover{
    font-size: 1.5em;
    color: red;
    box-shadow: 30px 20px 30px 20px rgb(100, 15, 228);
    cursor: pointer;
}

input{
    margin-top: 10px;
    padding: 10px;
    border: 2px solid lightcoral;
    border-radius: 5px;
}

input:focus{
    background: lightgoldenrodyellow;
    color: lightgray; 
}
img{
    padding: 5px;
    border: 2px;
    border-radius: 5px;
    color: red;
}

.content{
    display: flex;
    flex-direction: row;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.Search {
    border: 2px;
    border: radius 2px;
}

.container {
  display: flex;
  align-items: center;
}

video {
  align-content: center;
  width: 70%;
  margin-right: 20px;
}


